<ul class="nav justify-content-end">
  <li class="nav-item">
  <a class="nav-link" href="/spaces">Spaces</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/">Sign out</a>
  </li>
</ul>


<h3 class="title" style="text-align: center;margin: 3rem 0;"> Requests </h3>

<div class='requests_received'>
  <h2>Requests I've recieved</h2>
  <% @arr.each do |space|%>
  <h3><%= space.name.upcase%></h3>
  <h3><%= space.confirmed%></h3>
  <h3><%= @selected_date%></h3>
  <form action='/request_form/<%=space.id%>' method='get'>
  <button class="btn btn-default">Confirmation Page</button>
  </form><br>
  <%end%>
</div>

<div class='requests_made'>
<h2>Requests I've made</h2>
<% @req_made.each do |request|%>
<h3><%= request.space_name%></h3>
<h3><%= request.date_requested%></h3>
<h3>Not Confirmed<h3>
<br>
<%end%>
</div>