<ul class="nav justify-content-end">
  <li class="nav-item">
  <a class="nav-link" href="/request_form">Requests</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/spaces">Spaces</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/">Sign out</a>
  </li>
</ul>

  <h2>Requests page</h2>

<div class='requests_received'>
  <h3>Requests I've recieved</h3>
  <% @arr.each do |space|%>
  <h4><%= space.name.upcase%></h4>
  <h4><%= space.confirmed%></h4>
  <h4><%= @selected_date%></h4>
  <form action='/request_form/<%=space.id%>' method='get'>
  <button>Confirmation Page</button>
  </form><br>
  <%end%>
</div>

<div class='requests_made'>
<h3>Requests I've made</h3>
<% @req_made.each do |request|%>
<h4><%= request.space_name%></h4>
<h4><%= request.date_requested%></h4>
<h4>Not Confirmed<h4>
<br>
<%end%>
</div>
