<ul class="nav justify-content-end">
    <li class="nav-item">
    <a class="nav-link" href="/request_form">Requests</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/spaces">Spaces</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/">Sign out</a>
    </li>
</ul>

<h1><%=@space.name%></h1>
<h2><%=@space.description%></h2>

<form action='/request_form' method='get'>
<h1>Pick a night</h1>
<label for='selection'>
<input type='date' name='selection' min='<%=@space.available_from%>' max='<%=@space.available_to%>' >
    <input type='hidden' name='space_id' value=<%=@space.id%>>
    <button>Request to book</button>
</form>