<ul class="nav justify-content-end">
    <li class="nav-item">
    <a class="nav-link" href="/spaces">Spaces</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/">Sign out</a>
    </li>
</ul>

<div class="container" style="margin: 5% 25%;width:55%;" >
  <div class="row">
    <div class="col-md-12">
            <h3><%= @space.name %></h3><br>
            <p><%= @space.description %></p><br>
            
            <p style="font-style:oblique;font-weight: bold;"> This space is available:</p>
            <div class="container">
                <div class="row">
                    
                    <div class="col" style="color:gray;">
                    </div>
                    <div class="col" style="color:gray;">
                    </div>
                    
                </div>
            </div>

<!-- <h1><%=@space.name%></h1>
<h2><%=@space.description%></h2>

<form action='/request_form' method='get'>
<h1>Pick a night</h1>
<label for='selection'>
<input type='date' name='selection' min='<%=@space.available_from%>' max='<%=@space.available_to%>' >
    <input type='hidden' name='space_id' value=<%=@space.id%>>
    <button>Request to book</button>
</form> -->

<div class="card">   
      <form action='/request_form' method='get'>
      <h5>Pick a night:</h5>
      <label for='selection'>
      <input type='date' name='selection' min='<%=@space.available_from%>' max='<%=@space.available_to%>' class="form-control"  required> 
      <br>
      <input type='hidden' name='space_id' value=<%=@space.id%>>
      <button class="btn btn-primary">Request to book</button>
      </form>
      </div>
    </div>
  </div>
</div>

