

<h1><%=@space.name%></h1>
<h2><%=@space.description%></h2>

<form action='/request_form' method='get'>
<h1>Pick a night</h1>
<label for='selection'>
<input type='date' name='selection' min='<%=@space.available_from%>' max='<%=@space.available_to%>' >
<input type='hidden' name='space_id' value=<%=@space.id%>>
<button>Request to book</button> 
</form>