<ul class="nav justify-content-end">
  <li class="nav-item">
  <a class="nav-link" href="/spaces">Spaces</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/">Sign out</a>
  </li>
</ul>

    
  <div id="spaces">
    <h2> Welcome to Lychee MakersBnB </h2>
    
    <p> Below you will find a selection of spaces you can book.
    Press on the "List a Space" button to list your own space</p>
  <!-- </div>
  <div id="spaces-booking"> -->
    <h3> Book a Space </h3>
  
      <a href='/space/new'>List a space </a>

    <h3> Choose a date to book </h3>

    <form action='/space/new' method='POST'>
            <p> Start date </p>
            <input type="text" name="booking_start_date">
            <input type="submit" value='See available space'/>
    </form>
  </div>
       <!-- <% @space_repo.all.each do |space| %>
       <h1><%=space.name%></h1>
       <h3><%=space.description%></h3>
       <form action='space/<%= space.id%>' method="GET">
           <button class="btn btn-primary">Booking Page</button>
       </form>
      <%end%>   -->


      <div class="card">
        <% @space_repo.all.each do |space| %>
        <h3 class="card-header"><%=space.id%></h3>
        <div class="card-body">
          <h4 class="card-title"><%=space.name%></h4>
          <p class="card-text"><%=space.description%></p>
          <form action='space/<%= space.id%>' method="GET">
            <button class="btn btn-primary">Booking Page</button>
          </form>
        </div>
        <%end%>
      </div>

